In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt
from bs4 import BeautifulSoup
import requests
from IPython.core.display import display, HTML
import re
import dateutil.parser

In [2]:
def get_movie_value(soup, field_name):
    '''Grab a value from Box Office Mojo HTML
    
    Takes a string attribute of a movie on the page and returns the string in
    the next sibling object (the value for that attribute) or None if nothing is found.
    '''
    obj = soup.find(text=re.compile(field_name))
    if not obj: 
        return None
    # this works for most of the values
    next_element = obj.findNext()
    if next_element:
        return next_element.text 
    else:
        return None

In [27]:
def money_to_int(moneystring):
    #if type(moneystring) = 'NoneType':
    #    moneystring = 0
    #moneystring = moneystring.replace('$', '').replace(',', '')
    #return int(moneystring)
    try:
        moneystring = moneystring.replace('$', '').replace(',', '')
        return int(moneystring)
    except :
        pass

def runtime_to_minutes(runtimestring):
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0])*60 + int(runtime[2])
        return minutes
    except:
        return None

def to_date(datestring):
    date = dateutil.parser.parse(datestring)
    return date

In [87]:
def movie_info(url):
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page, "lxml")

    title_string = soup.find('title').text
    title_string.split('-')
    title = title_string.split('-')[0].strip()
    
    dtg = soup.find(class_='mojo-performance-summary-table').find_all('span', class_='money')[0].text
    
    runtime = get_movie_value(soup,'Run')
    
    rating = get_movie_value(soup,'MPAA')
    
    release_date = get_movie_value(soup,'Release Date')
    release_date = release_date.split('\n')[0]
    
    distributor = get_movie_value(soup,'Domestic Distributor')
    
    budget = get_movie_value(soup,'Budget')
    budget = money_to_int(raw_budget)
    
    raw_domestic_total_gross = dtg
    domestic_total_gross = money_to_int(raw_domestic_total_gross)

    raw_runtime = get_movie_value(soup,'Running')
    runtime = runtime_to_minutes(raw_runtime)

    raw_release_date = get_movie_value(soup,'Release Date').split('\n')[0]
    release_date = to_date(raw_release_date)
    
    
    
    genre = get_movie_value(soup,'Genres')
    res = [] 
    for sub in genre: 
        res.append(re.sub('\n', '', sub)) 
    res = ''.join(res)
    res = re.sub(' +', ', ', res)
    
    
    headers = ['Movie_Title', 'Domestic_Total_Gross','Budget','Distributor',
               'Runtime(mins)', 'Rating', 'Release_Date','Genre']

    movie_data = []
    movie_dict = dict(zip(headers, [title,
                                    distributor,
                                    domestic_total_gross,
                                    budget,
                                    runtime,
                                    rating, 
                                    release_date,
                                    res]))

    movie_data.append(movie_dict)
    return movie_data

In [5]:
url = 'https://www.boxofficemojo.com/release/rl2691925505/?ref_=bo_wly_table_1'
movie_info(url)

[{'Movie_Title': 'Star Wars: Episode VII',
  'Domestic_Total_Gross': 936662225,
  'Budget': 245000000,
  'Runtime(mins)': 138,
  'Rating': 'PG-13',
  'Release_Date': datetime.datetime(2015, 12, 18, 0, 0),
  'Genre': 'Action, Adventure, Sci-Fi'}]

In [6]:

#k = movie_info(url)
#item = list(k[0].values())[5]
#list(k[0].values())[5]
#res = [] 
#for sub in item: 
#    res.append(re.sub('\n', '', sub)) 

#res = ''.join(res)
#re.sub(' +', ' ', res)

In [7]:
test = 'https://www.boxofficemojo.com/weekly/by-year/2019/'
response = requests.get(test)
page = response.text
soup = BeautifulSoup(page, "lxml")
soup.text[:1000]

'var aPageStart = (new Date()).getTime();\n\nDomestic Box Office Weeklies For 2019 - Box Office Mojo\n\n\n\n\n\n\n(function(f,h,Q,A){function G(a){v&&v.tag&&v.tag(q(":","aui",a))}function x(a,b){v&&v.count&&v.count("aui:"+a,0===b?0:b||(v.count("aui:"+a)||0)+1)}function l(a){try{return a.test(navigator.userAgent)}catch(b){return!1}}function y(a,b,c){a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent&&a.attachEvent("on"+b,c)}function q(a,b,c,e){b=b&&c?b+a+c:b||c;return e?q(a,b,e):b}function H(a,b,c){try{Object.defineProperty(a,b,{value:c,writable:!1})}catch(e){a[b]=c}return c}function ta(a,b){var c=a.length,\ne=c,g=function(){e--||(R.push(b),S||(setTimeout(T,0),S=!0))};for(g();c--;)ca[a[c]]?g():(B[a[c]]=B[a[c]]||[]).push(g)}function ua(a,b,c,e,g){var d=h.createElement(a?"script":"link");y(d,"error",e);g&&y(d,"load",g);a?(d.type="text/javascript",d.async=!0,c&&/AUIClients|images[/]I/.test(b)&&d.setAttribute("crossorigin","anonymous"),d.src=b):(d.rel="stylesheet",d.href=b);h.getElementsByTag'

In [8]:
k = soup.find_all('a')
list(k)[27:]

[<a class="a-link-normal a-nowrap" href="?sort=weekNum&amp;ref_=bo_wly__resort#table" title="Week Number">Week<span class="a-letter-space"></span><span class="icon aok-relative"><i class="a-icon a-icon-expand table-sort-desc-placeholder" role="img"></i><i class="a-icon a-icon-collapse table-sort-asc-placeholder" role="img"></i></span></a>,
 <a class="a-link-normal" href="/weekly/2019W52/?ref_=bo_wly_table_1">Dec 27-Jan 2, 2020</a>,
 <a class="a-link-normal" href="/release/rl3305145857/?ref_=bo_wly_table_1">Star Wars: The Rise Of Skywalker</a>,
 <a class="a-link-normal" href="/weekly/2019W52/?ref_=bo_wly_table_1">52</a>,
 <a class="a-link-normal" href="/weekly/2019W51/?ref_=bo_wly_table_2">Dec 20-26</a>,
 <a class="a-link-normal" href="/release/rl3305145857/?ref_=bo_wly_table_2">Star Wars: The Rise Of Skywalker</a>,
 <a class="a-link-normal" href="/weekly/2019W51/?ref_=bo_wly_table_2">51</a>,
 <a class="a-link-normal" href="/weekly/2019W50/?ref_=bo_wly_table_3">Dec 13-19</a>,
 <a class="a-link-normal" href="/release/rl755467777/?ref_=bo_wly_table_3">Jumanji: The Next Level</a>,
 <a class="a-link-normal" href="/weekly/2019W50/?ref_=bo_wly_table_3">50</a>,
 <a class="a-link-normal" href="/weekly/2019W49/?ref_=bo_wly_table_4">Dec 6-12</a>,
 <a class="a-link-normal" href="/release/rl2424210945/?ref_=bo_wly_table_4">Frozen II</a>,
 <a class="a-link-normal" href="/weekly/2019W49/?ref_=bo_wly_table_4">49</a>,
 <a class="a-link-normal" href="/weekly/2019W48/?ref_=bo_wly_table_5">Nov 29-Dec 5</a>,
 <a class="a-link-normal" href="/release/rl2424210945/?ref_=bo_wly_table_5">Frozen II</a>,
 <a class="a-link-normal" href="/weekly/2019W48/?ref_=bo_wly_table_5">48</a>,
 <a class="a-link-normal" href="/weekly/2019W47/?ref_=bo_wly_table_6">Nov 22-28</a>,
 <a class="a-link-normal" href="/release/rl2424210945/?ref_=bo_wly_table_6">Frozen II</a>,
 <a class="a-link-normal" href="/weekly/2019W47/?ref_=bo_wly_table_6">47</a>,
 <a class="a-link-normal" href="/weekly/2019W46/?ref_=bo_wly_table_7">Nov 15-21</a>,
 <a class="a-link-normal" href="/release/rl990348801/?ref_=bo_wly_table_7">Ford v Ferrari</a>,
 <a class="a-link-normal" href="/weekly/2019W46/?ref_=bo_wly_table_7">46</a>,
 <a class="a-link-normal" href="/weekly/2019W45/?ref_=bo_wly_table_8">Nov 8-14</a>,
 <a class="a-link-normal" href="/release/rl2634515969/?ref_=bo_wly_table_8">Midway</a>,
 <a class="a-link-normal" href="/weekly/2019W45/?ref_=bo_wly_table_8">45</a>,
 <a class="a-link-normal" href="/weekly/2019W44/?ref_=bo_wly_table_9">Nov 1-7</a>,
 <a class="a-link-normal" href="/release/rl3103950337/?ref_=bo_wly_table_9">Terminator: Dark Fate</a>,
 <a class="a-link-normal" href="/weekly/2019W44/?ref_=bo_wly_table_9">44</a>,
 <a class="a-link-normal" href="/weekly/2019W43/?ref_=bo_wly_table_10">Oct 25-31</a>,
 <a class="a-link-normal" href="/release/rl252151297/?ref_=bo_wly_table_10">Joker</a>,
 <a class="a-link-normal" href="/weekly/2019W43/?ref_=bo_wly_table_10">43</a>,
 <a class="a-link-normal" href="/weekly/2019W42/?ref_=bo_wly_table_11">Oct 18-24</a>,
 <a class="a-link-normal" href="/release/rl939755009/?ref_=bo_wly_table_11">Maleficent: Mistress of Evil</a>,
 <a class="a-link-normal" href="/weekly/2019W42/?ref_=bo_wly_table_11">42</a>,
 <a class="a-link-normal" href="/weekly/2019W41/?ref_=bo_wly_table_12">Oct 11-17</a>,
 <a class="a-link-normal" href="/release/rl252151297/?ref_=bo_wly_table_12">Joker</a>,
 <a class="a-link-normal" href="/weekly/2019W41/?ref_=bo_wly_table_12">41</a>,
 <a class="a-link-normal" href="/weekly/2019W40/?ref_=bo_wly_table_13">Oct 4-10</a>,
 <a class="a-link-normal" href="/release/rl252151297/?ref_=bo_wly_table_13">Joker</a>,
 <a class="a-link-normal" href="/weekly/2019W40/?ref_=bo_wly_table_13">40</a>,
 <a class="a-link-normal" href="/weekly/2019W39/?ref_=bo_wly_table_14">Sep 27-Oct 3</a>,
 <a class="a-link-normal" href="/release/rl4144072193/?ref_=bo_wly_table_14">Abominable</a>,
 <a class="a-link-normal" href="/weekly/2019W39/?ref_=bo_wly_table_14">39</a>,
 <a class="a-link-normal" href="/weekly/2019W38/?ref_=bo_wly_table_15">Sep 20-26</a>,
 <a class="a-link-normal" href="/release/rl2399634945/?ref_=bo_wly_table_15">Downton Abbey</a>,
 <a class="a-link-normal" href="/weekly/2019W38/?ref_=bo_wly_table_15">38</a>,
 <a class="a-link-normal" href="/weekly/2019W37/?ref_=bo_wly_table_16">Sep 13-19</a>,
 <a class="a-link-normal" href="/release/rl1107461633/?ref_=bo_wly_table_16">It Chapter Two</a>,
 <a class="a-link-normal" href="/weekly/2019W37/?ref_=bo_wly_table_16">37</a>,
 <a class="a-link-normal" href="/weekly/2019W36/?ref_=bo_wly_table_17">Sep 6-12</a>,
 <a class="a-link-normal" href="/release/rl1107461633/?ref_=bo_wly_table_17">It Chapter Two</a>,
 <a class="a-link-normal" href="/weekly/2019W36/?ref_=bo_wly_table_17">36</a>,
 <a class="a-link-normal" href="/weekly/2019W35/?ref_=bo_wly_table_18">Aug 30-Sep 5</a>,
 <a class="a-link-normal" href="/release/rl1745257985/?ref_=bo_wly_table_18">Angel Has Fallen</a>,
 <a class="a-link-normal" href="/weekly/2019W35/?ref_=bo_wly_table_18">35</a>,
 <a class="a-link-normal" href="/weekly/2019W34/?ref_=bo_wly_table_19">Aug 23-29</a>,
 <a class="a-link-normal" href="/release/rl1745257985/?ref_=bo_wly_table_19">Angel Has Fallen</a>,
 <a class="a-link-normal" href="/weekly/2019W34/?ref_=bo_wly_table_19">34</a>,
 <a class="a-link-normal" href="/weekly/2019W33/?ref_=bo_wly_table_20">Aug 16-22</a>,
 <a class="a-link-normal" href="/release/rl1275299329/?ref_=bo_wly_table_20">Good Boys</a>,
 <a class="a-link-normal" href="/weekly/2019W33/?ref_=bo_wly_table_20">33</a>,
 <a class="a-link-normal" href="/weekly/2019W32/?ref_=bo_wly_table_21">Aug 9-15</a>,
 <a class="a-link-normal" href="/release/rl2919400961/?ref_=bo_wly_table_21">Fast &amp; Furious Presents: Hobbs &amp; Shaw</a>,
 <a class="a-link-normal" href="/weekly/2019W32/?ref_=bo_wly_table_21">32</a>,
 <a class="a-link-normal" href="/weekly/2019W31/?ref_=bo_wly_table_22">Aug 2-8</a>,
 <a class="a-link-normal" href="/release/rl2919400961/?ref_=bo_wly_table_22">Fast &amp; Furious Presents: Hobbs &amp; Shaw</a>,
 <a class="a-link-normal" href="/weekly/2019W31/?ref_=bo_wly_table_22">31</a>,
 <a class="a-link-normal" href="/weekly/2019W30/?ref_=bo_wly_table_23">Jul 26-Aug 1</a>,
 <a class="a-link-normal" href="/release/rl3321923073/?ref_=bo_wly_table_23">The Lion King</a>,
 <a class="a-link-normal" href="/weekly/2019W30/?ref_=bo_wly_table_23">30</a>,
 <a class="a-link-normal" href="/weekly/2019W29/?ref_=bo_wly_table_24">Jul 19-25</a>,
 <a class="a-link-normal" href="/release/rl3321923073/?ref_=bo_wly_table_24">The Lion King</a>,
 <a class="a-link-normal" href="/weekly/2019W29/?ref_=bo_wly_table_24">29</a>,
 <a class="a-link-normal" href="/weekly/2019W28/?ref_=bo_wly_table_25">Jul 12-18</a>,
 <a class="a-link-normal" href="/release/rl3791750657/?ref_=bo_wly_table_25">Spider-Man: Far from Home</a>,
 <a class="a-link-normal" href="/weekly/2019W28/?ref_=bo_wly_table_25">28</a>,
 <a class="a-link-normal" href="/weekly/2019W27/?ref_=bo_wly_table_26">Jul 5-11</a>,
 <a class="a-link-normal" href="/release/rl3791750657/?ref_=bo_wly_table_26">Spider-Man: Far from Home</a>,
 <a class="a-link-normal" href="/weekly/2019W27/?ref_=bo_wly_table_26">27</a>,
 <a class="a-link-normal" href="/weekly/2019W26/?ref_=bo_wly_table_27">Jun 28-Jul 4</a>,
 <a class="a-link-normal" href="/release/rl3798500865/?ref_=bo_wly_table_27">Toy Story 4</a>,
 <a class="a-link-normal" href="/weekly/2019W26/?ref_=bo_wly_table_27">26</a>,
 <a class="a-link-normal" href="/weekly/2019W25/?ref_=bo_wly_table_28">Jun 21-27</a>,
 <a class="a-link-normal" href="/release/rl3798500865/?ref_=bo_wly_table_28">Toy Story 4</a>,
 <a class="a-link-normal" href="/weekly/2019W25/?ref_=bo_wly_table_28">25</a>,
 <a class="a-link-normal" href="/weekly/2019W24/?ref_=bo_wly_table_29">Jun 14-20</a>,
 <a class="a-link-normal" href="/release/rl2986509825/?ref_=bo_wly_table_29">Men in Black: International</a>,
 <a class="a-link-normal" href="/weekly/2019W24/?ref_=bo_wly_table_29">24</a>,
 <a class="a-link-normal" href="/weekly/2019W23/?ref_=bo_wly_table_30">Jun 7-13</a>,
 <a class="a-link-normal" href="/release/rl1719436801/?ref_=bo_wly_table_30">The Secret Life of Pets 2</a>,
 <a class="a-link-normal" href="/weekly/2019W23/?ref_=bo_wly_table_30">23</a>,
 <a class="a-link-normal" href="/weekly/2019W22/?ref_=bo_wly_table_31">May 31-Jun 6</a>,
 <a class="a-link-normal" href="/release/rl3246360065/?ref_=bo_wly_table_31">Aladdin</a>,
 <a class="a-link-normal" href="/weekly/2019W22/?ref_=bo_wly_table_31">22</a>,
 <a class="a-link-normal" href="/weekly/2019W21/?ref_=bo_wly_table_32">May 24-30</a>,
 <a class="a-link-normal" href="/release/rl3246360065/?ref_=bo_wly_table_32">Aladdin</a>,
 <a class="a-link-normal" href="/weekly/2019W21/?ref_=bo_wly_table_32">21</a>,
 <a class="a-link-normal" href="/weekly/2019W20/?ref_=bo_wly_table_33">May 17-23</a>,
 <a class="a-link-normal" href="/release/rl1476560385/?ref_=bo_wly_table_33">John Wick: Chapter 3 - Parabellum</a>,
 <a class="a-link-normal" href="/weekly/2019W20/?ref_=bo_wly_table_33">20</a>,
 <a class="a-link-normal" href="/weekly/2019W19/?ref_=bo_wly_table_34">May 10-16</a>,
 <a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_wly_table_34">Avengers: Endgame</a>,
 <a class="a-link-normal" href="/weekly/2019W19/?ref_=bo_wly_table_34">19</a>,
 <a class="a-link-normal" href="/weekly/2019W18/?ref_=bo_wly_table_35">May 3-9</a>,
 <a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_wly_table_35">Avengers: Endgame</a>,
 <a class="a-link-normal" href="/weekly/2019W18/?ref_=bo_wly_table_35">18</a>,
 <a class="a-link-normal" href="/weekly/2019W17/?ref_=bo_wly_table_36">Apr 26-May 2</a>,
 <a class="a-link-normal" href="/release/rl3059975681/?ref_=bo_wly_table_36">Avengers: Endgame</a>,
 <a class="a-link-normal" href="/weekly/2019W17/?ref_=bo_wly_table_36">17</a>,
 <a class="a-link-normal" href="/weekly/2019W16/?ref_=bo_wly_table_37">Apr 19-25</a>,
 <a class="a-link-normal" href="/release/rl402884097/?ref_=bo_wly_table_37">The Curse of la Llorona</a>,
 <a class="a-link-normal" href="/weekly/2019W16/?ref_=bo_wly_table_37">16</a>,
 <a class="a-link-normal" href="/weekly/2019W15/?ref_=bo_wly_table_38">Apr 12-18</a>,
 <a class="a-link-normal" href="/release/rl1196197377/?ref_=bo_wly_table_38">Shazam!</a>,
 <a class="a-link-normal" href="/weekly/2019W15/?ref_=bo_wly_table_38">15</a>,
 <a class="a-link-normal" href="/weekly/2019W14/?ref_=bo_wly_table_39">Apr 5-11</a>,
 <a class="a-link-normal" href="/release/rl1196197377/?ref_=bo_wly_table_39">Shazam!</a>,
 <a class="a-link-normal" href="/weekly/2019W14/?ref_=bo_wly_table_39">14</a>,
 <a class="a-link-normal" href="/weekly/2019W13/?ref_=bo_wly_table_40">Mar 29-Apr 4</a>,
 <a class="a-link-normal" href="/release/rl2675869185/?ref_=bo_wly_table_40">Dumbo</a>,
 <a class="a-link-normal" href="/weekly/2019W13/?ref_=bo_wly_table_40">13</a>,
 <a class="a-link-normal" href="/weekly/2019W12/?ref_=bo_wly_table_41">Mar 22-28</a>,
 <a class="a-link-normal" href="/release/rl1711506945/?ref_=bo_wly_table_41">Us</a>,
 <a class="a-link-normal" href="/weekly/2019W12/?ref_=bo_wly_table_41">12</a>,
 <a class="a-link-normal" href="/weekly/2019W11/?ref_=bo_wly_table_42">Mar 15-21</a>,
 <a class="a-link-normal" href="/release/rl3009644033/?ref_=bo_wly_table_42">Captain Marvel</a>,
 <a class="a-link-normal" href="/weekly/2019W11/?ref_=bo_wly_table_42">11</a>,
 <a class="a-link-normal" href="/weekly/2019W10/?ref_=bo_wly_table_43">Mar 8-14</a>,
 <a class="a-link-normal" href="/release/rl3009644033/?ref_=bo_wly_table_43">Captain Marvel</a>,
 <a class="a-link-normal" href="/weekly/2019W10/?ref_=bo_wly_table_43">10</a>,
 <a class="a-link-normal" href="/weekly/2019W09/?ref_=bo_wly_table_44">Mar 1-7</a>,
 <a class="a-link-normal" href="/release/rl2606269953/?ref_=bo_wly_table_44">How to Train Your Dragon: The Hidden World</a>,
 <a class="a-link-normal" href="/weekly/2019W09/?ref_=bo_wly_table_44">9</a>,
 <a class="a-link-normal" href="/weekly/2019W08/?ref_=bo_wly_table_45">Feb 22-28</a>,
 <a class="a-link-normal" href="/release/rl2606269953/?ref_=bo_wly_table_45">How to Train Your Dragon: The Hidden World</a>,
 <a class="a-link-normal" href="/weekly/2019W08/?ref_=bo_wly_table_45">8</a>,
 <a class="a-link-normal" href="/weekly/2019W07/?ref_=bo_wly_table_46">Feb 15-21</a>,
 <a class="a-link-normal" href="/release/rl1887340033/?ref_=bo_wly_table_46">Alita: Battle Angel</a>,
 <a class="a-link-normal" href="/weekly/2019W07/?ref_=bo_wly_table_46">7</a>,
 <a class="a-link-normal" href="/weekly/2019W06/?ref_=bo_wly_table_47">Feb 8-14</a>,
 <a class="a-link-normal" href="/release/rl1517848065/?ref_=bo_wly_table_47">The Lego Movie 2: The Second Part</a>,
 <a class="a-link-normal" href="/weekly/2019W06/?ref_=bo_wly_table_47">6</a>,
 <a class="a-link-normal" href="/weekly/2019W05/?ref_=bo_wly_table_48">Feb 1-7</a>,
 <a class="a-link-normal" href="/release/rl1518241281/?ref_=bo_wly_table_48">Glass</a>,
 <a class="a-link-normal" href="/weekly/2019W05/?ref_=bo_wly_table_48">5</a>,
 <a class="a-link-normal" href="/weekly/2019W04/?ref_=bo_wly_table_49">Jan 25-31</a>,
 <a class="a-link-normal" href="/release/rl1518241281/?ref_=bo_wly_table_49">Glass</a>,
 <a class="a-link-normal" href="/weekly/2019W04/?ref_=bo_wly_table_49">4</a>,
 <a class="a-link-normal" href="/weekly/2019W03/?ref_=bo_wly_table_50">Jan 18-24</a>,
 <a class="a-link-normal" href="/release/rl1518241281/?ref_=bo_wly_table_50">Glass</a>,
 <a class="a-link-normal" href="/weekly/2019W03/?ref_=bo_wly_table_50">3</a>,
 <a class="a-link-normal" href="/weekly/2019W02/?ref_=bo_wly_table_51">Jan 11-17</a>,
 <a class="a-link-normal" href="/release/rl3204679169/?ref_=bo_wly_table_51">The Upside</a>,
 <a class="a-link-normal" href="/weekly/2019W02/?ref_=bo_wly_table_51">2</a>,
 <a class="a-link-normal" href="/weekly/2019W01/?ref_=bo_wly_table_52">Jan 4-10</a>,
 <a class="a-link-normal" href="/release/rl3108800001/?ref_=bo_wly_table_52">Aquaman</a>,
 <a class="a-link-normal" href="/weekly/2019W01/?ref_=bo_wly_table_52">1</a>,
 <a class="a-link-normal imdb-pro-logo" href="https://pro.imdb.com/?ref_=mojo_ft_wly_prologo&amp;rf=mojo_ft_wly_prologo"></a>,
 <a class="a-link-normal" href="/news/?ref_=bo_ft_wly_news">News</a>,
 <a class="a-link-normal" href="/daily/?ref_=bo_ft_wly_daily">Daily</a>,
 <a class="a-link-normal" href="/weekend/?ref_=bo_ft_wly_weekend">Weekend</a>,
 <a class="a-link-normal" href="/charts/?ref_=bo_ft_wly_charts">All Time</a>,
 <a class="a-link-normal" href="/intl/?ref_=bo_ft_wly_intl">International</a>,
 <a class="a-link-normal" href="/showdown/?ref_=bo_ft_wly_showdown">Showdowns</a>,
 <a class="a-link-normal" href="https://help.imdb.com/article/imdbpro/industry-research/box-office-mojo-by-imdbpro-faq/GCWTV4MQKGWRAUAP?ref_=mojo_ftr_help" rel="noopener" target="_blank">Help</a>,
 <a class="a-link-normal" href="http://www.imdb.com/" rel="noopener" target="_blank">IMDb</a>,
 <a class="a-link-normal" href="/conditions/?ref_=bo_ft_wly_conditions">Conditions of Use</a>,
 <a class="a-link-normal" href="/privacy/?ref_=bo_ft_wly_privacy">Privacy Policy</a>]

In [9]:
df = pd.DataFrame(np.array(list(k)[27:-12]).reshape(-1,3))
moviepaths = df.loc[:,2]
moviepaths[0]

In [10]:
moviepaths.head()

0    [Star Wars: The Rise Of Skywalker]
1    [Star Wars: The Rise Of Skywalker]
2             [Jumanji: The Next Level]
3                           [Frozen II]
4                           [Frozen II]
Name: 2, dtype: object

In [11]:
type(moviepaths)

pandas.core.series.Series

In [12]:
urls = [] 
for a_tag in moviepaths:
    url = a_tag['href']
    if not url.startswith('http'):
        url = "https://www.boxofficemojo.com/"+url
    urls.append(url)

In [13]:
urls[0:5]

['https://www.boxofficemojo.com//release/rl3305145857/?ref_=bo_wly_table_1',
 'https://www.boxofficemojo.com//release/rl3305145857/?ref_=bo_wly_table_2',
 'https://www.boxofficemojo.com//release/rl755467777/?ref_=bo_wly_table_3',
 'https://www.boxofficemojo.com//release/rl2424210945/?ref_=bo_wly_table_4',
 'https://www.boxofficemojo.com//release/rl2424210945/?ref_=bo_wly_table_5']

In [29]:
info = pd.DataFrame(columns=['Movie_Title', 'Domestic_Total_Gross', 'Runtime(mins)','Rating','Release_Date','Genre'])
for i in range(5):
    info.append(movie_info(urls[i]))

In [ ]:
#movie_info(urls[5])

In [30]:
t = movie_info(urls[10])
#print(t[0].values)

In [31]:
def getList(dict): 
      
    return [*dict] 
Header = getList(t[0])
Header

['Movie_Title',
 'Domestic_Total_Gross',
 'Budget',
 'Runtime(mins)',
 'Rating',
 'Release_Date',
 'Genre']

In [ ]:
#Values = list(t[0].values())
#Values

In [ ]:
#dft = pd.DataFrame(columns=Header)
#dft.append(pd.Series(Values, index=Header), ignore_index=True)

In [ ]:
#soup.find_all(class_='a-link-normal').find_all(href = /release*)

In [32]:
print(urls[0:5])
print(movie_info(urls[1]))
print(list(t[0].values()))
Header = getList(t[0])

['https://www.boxofficemojo.com//release/rl3305145857/?ref_=bo_wly_table_1', 'https://www.boxofficemojo.com//release/rl3305145857/?ref_=bo_wly_table_2', 'https://www.boxofficemojo.com//release/rl755467777/?ref_=bo_wly_table_3', 'https://www.boxofficemojo.com//release/rl2424210945/?ref_=bo_wly_table_4', 'https://www.boxofficemojo.com//release/rl2424210945/?ref_=bo_wly_table_5']
[{'Movie_Title': 'Star Wars: The Rise Of Skywalker', 'Domestic_Total_Gross': 482569280, 'Budget': None, 'Runtime(mins)': 142, 'Rating': 'PG-13', 'Release_Date': datetime.datetime(2019, 12, 20, 0, 0), 'Genre': 'Action, Adventure, Fantasy, Sci-Fi'}]
['Maleficent: Mistress of Evil', 113672999, None, 119, 'PG', datetime.datetime(2019, 10, 18, 0, 0), 'Adventure, Family, Fantasy']

In [37]:
#'https://www.boxofficemojo.com/weekly/by-year/2019/'
#Loop to get Urls based on the example from project 1
def get_urls(years):
    '''Takes a 4 digit year input, or a list of them'''
    url = "https://www.boxofficemojo.com/weekly/by-year/{}/"
    dfs = []
    for year in years:
        file_url = url.format(year)
        response = requests.get(file_url)
        page = response.text
        soup = BeautifulSoup(page, "lxml")
        
        k = soup.find_all('a')

        df = pd.DataFrame(np.array(list(k)[27:-12]).reshape(-1,3))
        moviepaths = df.loc[:,2]
        #print(pd.DataFrame(moviepaths))
        for item in moviepaths:
            dfs.append(item)
    return dfs
        
years = ['2019','2018','2017','2016','2015','2014','2013','2012','2011','2010']
url_list = get_urls(years)
#url_list

In [34]:
len(url_list)

52

In [ ]:
#url_list

In [40]:
urls = []
for a_tag in url_list:
    url = a_tag['href']
    if not url.startswith('http'):
        url = "https://www.boxofficemojo.com/"+url
    urls.append(url)
len(urls)

522

In [ ]:
'''
test = 'https://www.boxofficemojo.com/weekly/by-year/2019/'
response = requests.get(test)
page = response.text
soup = BeautifulSoup(page, "lxml")

k = soup.find_all('a')
list(k)[27:]

df = pd.DataFrame(np.array(list(k)[27:-12]).reshape(-1,3))
moviepaths = df.loc[:,2]
'''
#urls = [] 
#for a_tag in moviepaths:
#    url = a_tag['href']
#    if not url.startswith('http'):
#        url = "https://www.boxofficemojo.com/"+url
#    urls.append(url)

In [ ]:
'''
dft = pd.DataFrame(columns=Header)

for i in range(52):
    ##info.append(movie_info(urls[i]))
    t = movie_info(urls[i])
    #print(t)
    #Values = list(t[0].values())
    #print(Values)
    #Header = getList(t[0])
    dft = dft.append(t, ignore_index=True)
    
dft
'''

In [41]:
dft = pd.DataFrame(columns=Header)

for i in range(len(urls)):
    ##info.append(movie_info(urls[i]))
    try:
        t = movie_info(urls[i])
    #print(t)
    #Values = list(t[0].values())
    #print(Values)
    #Header = getList(t[0])
        dft = dft.append(t, ignore_index=True)
    except:
        pass
    
dft

,Movie_Title,Domestic_Total_Gross,Budget,Runtime(mins),Rating,Release_Date,Genre
0,Star Wars: The Rise Of Skywalker,482569280,None,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi"
1,Star Wars: The Rise Of Skywalker,482569280,None,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi"
2,Jumanji: The Next Level,260185634,"$125,000,000",123,PG-13,2019-12-13,"Action, Adventure, Comedy, Fantasy"
3,Frozen II,460823437,None,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,..."
4,Frozen II,460823437,None,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,..."
...,...,...,...,...,...,...,...
503,Avatar,749766139,"$237,000,000",162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi"
504,Avatar,749766139,"$237,000,000",162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi"
505,Avatar,749766139,"$237,000,000",162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi"
506,Avatar,749766139,"$237,000,000",162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi"
507,Avatar,749766139,"$237,000,000",162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi"

In [ ]:
#size(dft)

In [42]:
from datetime import datetime as dt
dft['strpdate'] = pd.to_datetime(dft.Release_Date, format = "%Y-%M-%D")
dft['year'] = pd.DatetimeIndex(dft['strpdate']).year

In [78]:
def Action(item):
    if 'Action' in item:
        return 1
    else:
        return 0
    
def Adventure(item):
    if 'Adventure' in item:
        return 1
    else:
        return 0
    
def Animation(item):
    if 'Animation' in item:
        return 1
    else:
        return 0
    
def Biography(item):
    if 'Biography' in item:
        return 1
    else:
        return 0
    
def Comedy(item):
    if 'Comedy' in item:
        return 1
    else:
        return 0
    
def Crime(item):
    if 'Crime' in item:
        return 1
    else:
        return 0
    
def Documentary(item):
    if 'Documentary' in item:
        return 1
    else:
        return 0
    
def Drama(item):
    if 'Drama' in item:
        return 1
    else:
        return 0
    
def Family(item):
    if 'Family' in item:
        return 1
    else:
        return 0
    
def Fantasy(item):
    if 'Fantasy' in item:
        return 1
    else:
        return 0
    
def History(item):
    if 'History' in item:
        return 1
    else:
        return 0    
    
def Horror(item):
    if 'Horror' in item:
        return 1
    else:
        return 0
    
def Music(item):
    if 'Music' in item:
        return 1
    else:
        return 0
    
def Music(item):
    if 'Music' in item:
        return 1
    else:
        return 0
    
def Musical(item):
    if 'Musical' in item:
        return 1
    else:
        return 0
    
def Mystery(item):
    if 'Mystery' in item:
        return 1
    else:
        return 0
    
def Romance(item):
    if 'Romance' in item:
        return 1
    else:
        return 0
    
def SciFi(item):
    if 'Sci-Fi' in item:
        return 1
    else:
        return 0
    
def Sport(item):
    if 'Sport' in item:
        return 1
    else:
        return 0
    
def Thriller(item):
    if 'Thriller' in item:
        return 1
    else:
        return 0

def War(item):
    if 'War' in item:
        return 1
    else:
        return 0
    
def Western(item):
    if 'Western' in item:
        return 1
    else:
        return 0

In [ ]:
#funclist = [Action,Adventure]#,Animation,Biography]

In [ ]:
#type(funclist[1])

In [ ]:
#dft['Action'] = dft['Genre'].apply(Action)

In [ ]:
#dft.drop(['Music'], axis=1,inplace=True)
#dft.drop(['Crime'], axis=1,inplace=True)
#dft.drop(['Mystery'], axis=1,inplace=True)
#dft

In [44]:
dft.to_pickle('MovieData.pkl')

In [46]:
dfttest = dft.copy()
dfttest.head()

,Movie_Title,Domestic_Total_Gross,Budget,Runtime(mins),Rating,Release_Date,Genre,strpdate,year
0,Star Wars: The Rise Of Skywalker,482569280,None,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019
1,Star Wars: The Rise Of Skywalker,482569280,None,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019
2,Jumanji: The Next Level,260185634,"$125,000,000",123,PG-13,2019-12-13,"Action, Adventure, Comedy, Fantasy",2019-12-13,2019
3,Frozen II,460823437,None,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019
4,Frozen II,460823437,None,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019

In [67]:
#dfttest['Budget']=dfttest['Budget'].apply(budget_to_int)
dfttest

,Movie_Title,Domestic_Total_Gross,Budget,Runtime(mins),Rating,Release_Date,Genre,strpdate,year
0,Star Wars: The Rise Of Skywalker,482569280,NaN,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019
1,Star Wars: The Rise Of Skywalker,482569280,NaN,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019
2,Jumanji: The Next Level,260185634,125000000.0,123,PG-13,2019-12-13,"Action, Adventure, Comedy, Fantasy",2019-12-13,2019
3,Frozen II,460823437,NaN,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019
4,Frozen II,460823437,NaN,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019
...,...,...,...,...,...,...,...,...,...
503,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009
504,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009
505,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009
506,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009
507,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009

In [70]:
dfttest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 9 columns):
Movie_Title             508 non-null object
Domestic_Total_Gross    508 non-null object
Budget                  445 non-null float64
Runtime(mins)           498 non-null object
Rating                  504 non-null object
Release_Date            508 non-null datetime64[ns]
Genre                   508 non-null object
strpdate                508 non-null datetime64[ns]
year                    508 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(5)
memory usage: 35.8+ KB

In [71]:
Glist = list(dft['Genre'].str.split(' ', expand=True).stack().unique())
#Glist[1].strip(',')

In [72]:
Glist2 = []
for item in Glist:
    Glist2.append(item.strip(','))

In [ ]:
#len(Glist2)

In [73]:
Glistset = list(set(Glist2))
len(Glistset)

21

In [81]:
Glistset.sort()
Glistset

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [79]:
funclist = [Action, Adventure, Animation, Biography, Comedy, Crime, Documentary, Drama, Family, Fantasy, 
            History, Horror, Music, Musical, Mystery, Romance, SciFi, Sport, Thriller, War, Western]

In [80]:
len(funclist)

21

In [ ]:
#G = ['Action','Adventure']

In [82]:
#for item in G:
#    for func in funclist:
for i in range(len(Glistset)):
        dfttest[Glistset[i]] = dfttest['Genre'].apply(funclist[i])
dfttest

,Movie_Title,Domestic_Total_Gross,Budget,Runtime(mins),Rating,Release_Date,Genre,strpdate,year,Action,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,Star Wars: The Rise Of Skywalker,482569280,NaN,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019,1,...,0,0,0,0,0,1,0,0,0,0
1,Star Wars: The Rise Of Skywalker,482569280,NaN,142,PG-13,2019-12-20,"Action, Adventure, Fantasy, Sci-Fi",2019-12-20,2019,1,...,0,0,0,0,0,1,0,0,0,0
2,Jumanji: The Next Level,260185634,125000000.0,123,PG-13,2019-12-13,"Action, Adventure, Comedy, Fantasy",2019-12-13,2019,1,...,0,0,0,0,0,0,0,0,0,0
3,Frozen II,460823437,NaN,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019,0,...,0,1,1,0,0,0,0,0,0,0
4,Frozen II,460823437,NaN,103,PG,2019-11-22,"Adventure, Animation, Comedy, Family, Fantasy,...",2019-11-22,2019,0,...,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009,1,...,0,0,0,0,0,1,0,0,0,0
504,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009,1,...,0,0,0,0,0,1,0,0,0,0
505,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009,1,...,0,0,0,0,0,1,0,0,0,0
506,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009,1,...,0,0,0,0,0,1,0,0,0,0
507,Avatar,749766139,237000000.0,162,PG-13,2009-12-18,"Action, Adventure, Fantasy, Sci-Fi",2009-12-18,2009,1,...,0,0,0,0,0,1,0,0,0,0

In [86]:
dfttest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 30 columns):
Movie_Title             508 non-null object
Domestic_Total_Gross    508 non-null object
Budget                  445 non-null float64
Runtime(mins)           498 non-null object
Rating                  504 non-null object
Release_Date            508 non-null datetime64[ns]
Genre                   508 non-null object
strpdate                508 non-null datetime64[ns]
year                    508 non-null int64
Action                  508 non-null int64
Adventure               508 non-null int64
Animation               508 non-null int64
Biography               508 non-null int64
Comedy                  508 non-null int64
Crime                   508 non-null int64
Documentary             508 non-null int64
Drama                   508 non-null int64
Family                  508 non-null int64
Fantasy                 508 non-null int64
History                 508 non-null int64
Horror                  508 non-null int64
Music                   508 non-null int64
Musical                 508 non-null int64
Mystery                 508 non-null int64
Romance                 508 non-null int64
Sci-Fi                  508 non-null int64
Sport                   508 non-null int64
Thriller                508 non-null int64
War                     508 non-null int64
Western                 508 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(22), object(5)
memory usage: 119.2+ KB

In [85]:
dfttest.groupby(['year']).Adventure.sum()

year
2009     5
2010    25
2011    25
2012    29
2013    26
2014    31
2015    35
2016    37
2017    31
2018    31
2019    34
Name: Adventure, dtype: int64

In [ ]:
#dft.loc[551,:]

In [ ]:
#t = movie_info(urls[1])
#t

In [ ]:
#Values = list(t[0].values())
#Values

In [ ]:
#Header = getList(t[0])
#Header

In [ ]:
#dft = pd.DataFrame(columns=Header)
#dft.append(pd.Series(Values,index=Header), ignore_index=True)